/* =======================
    Desktop Responsive Css
  ======================== */

@media (max-width: 1024px) {
    .footer-section {
        padding-top: 100px;
    }

    .widget_nav_menu {
        grid-template-columns: 1fr 2.3fr;
    }

    .footer-bottom-logo img {
        width: 100%;
    }

}
/* =======================
    Mini Desktop Responsive Css
  ======================== */
@media (max-width: 991px) {

    /* Nav bar area */
    .responsive-mobile-menu {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    button.navbar-toggler {
        width: 40px;
        height: 40px;
        justify-content: center;
        display: flex;
    }

    button.navbar-toggler span {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button.navbar-toggler:focus {
        box-shadow: none;
    }

    ul#menu-primary-menu li {
        width: 100%;
    }

    #masthead #menu-primary-menu {
        gap: 10px;
    }


    button.navbar-toggler.active {
        background: #6b1635;
        color: #fff;
    }

    button.navbar-toggler.active .navbar-toggler-icon svg path {
        fill: #FFF;
        stroke: #fff;
    }

    /* Hide the menu by default on mobile */
    #musemind_main_menu.collapse:not(.show) {
        display: none;
    }

    #musemind_main_menu.collapsing {
        height: 0;
        overflow: hidden;
        transition: height 0.35s ease;
    }

    /* Mobile menu styles */
    #musemind_main_menu {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #fff;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        padding: 15px;
    }

    #musemind_main_menu .navbar-nav {
        flex-direction: column;
    }

    #musemind_main_menu .nav-item {
        margin: 5px 0;
    }
}

/* =======================
    Tablet Responsive Css
  ======================== */

@media (max-width: 768px) {
    .container {
        padding: 0 24px;
    }

    .blog-main-title {
        font-size: 30px;
        font-weight: 500;
    }

    .breadcrumb-wrap {
        background: rgba(240, 243, 245, 1);
        padding: 60px 0 30px;
    }


    .thumbnail img {
        max-height: 430px;
        min-height: 430px;
    }


    .footer-section {
        padding-top: 40px;
    }

    .footer-top-area {
        padding-bottom: 12px;
    }

    .widget_nav_menu {
        margin-top: 32px;
    }

    ul.footer-list li a {
        font-size: 10px;
    }

    .footer-menu-wrap .footer-list {
        gap: 4px;
    }

    .footer-menu-wrap {
        gap: 16px;
    }

    .footer-single-location h4 {
        font-size: 12px;
    }

    .footer-single-location p {
        font-size: 8px;
        margin-bottom: 0px;
    }

    .footer-single-location a {
        font-size: 8px;
    }

    .footer-location-wrap {
        row-gap: 20px;
        column-gap: 12px;
    }

    .widget_nav_menu {
        grid-template-columns: 1fr 1fr;
    }

    .footer-menu-wrapper {
        padding-bottom: 20px;
    }

    .footer-bottom-menu {
        padding: 14px 0 18px;
    }

    ul.footer-bottom-menu-list {
        gap: 10px;
    }

    .footer-bottom-menu-list li a {
        font-size: 8px;
    }

    .copyright-text {
        font-size: 8px;
    }

    .copyright-text {
        font-size: 8px;
    }

    .company-deck {
        margin-top: 24px;
    }

    .company-deck-link {
        gap: 4px;
        font-size: 10px;
    }

    h4.company-deck-link svg {
        width: 8px;
    }

    .footer-social-share li a {
        width: 24px;
        height: 24px;
        padding: 5px;
    }

    li.single-info-item a img {
        width: 100%;
    }

    .footer-logo a img {
        width: 28px;
    }

    /* ======================= Blog  Details Css ======================== */

    .entry-content.musemind-post-content {
        margin-right: 50px;
    }

    .blog-content-wrapper {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    div#musemind_toc_widget-2 {
        display: none;
    }

    .widget-area {
        margin-top: 10px !important;
    }

    aside#secondary.widget-area {
        position: static;
        padding-top: 30px;
    }

    .blog-single-content-wrap{
        h2 {
            font-size: 28px;
            padding-top: 40px;
            margin-top: 40px;
        }
        h3{
            font-size: 20px;
        }
    
        p{
            margin-bottom: 16px;
        }
        
        ul{
            padding-left: 16px;
            margin-bottom: 16px;
        }
        ol{
            padding-left: 16px;
        }
        
        .wp-block-image img{
            display: block;
            width: 100%;
        }
    }

    .widget {
        margin-bottom: 30px;
        background-color: #F2F4F7;
    }

    #musemind_social_share_widget-2 {
        padding: 0;
    }

    .musemind-header-inner .title {
        font-size: 40px;
    }

    

}


/* =======================
    Mobile Responsive Css
  ======================== */
@media (max-width: 576px) {
    .container {
        padding: 0 20px;
    }

    .footer-logo a img {
        width: 48px;
    }

    .widget_nav_menu {
        grid-template-columns: 1fr;
    }

    ul.footer-list li a {
        font-size: 18px;
    }

    .footer-menu-wrap {
        gap: 95px;
        padding: 32px;
        background: rgba(240, 243, 245, 1);
    }

    .footer-section .container {
        padding: 0;
    }

    .footer-section {
        background: rgb(240 243 245 / 0%);
        background-image: none;
    }

    .widget_nav_menu {
        margin-top: 0;
    }

    ul.footer-social-share {
        display: none;
    }

    .footer-top-area {
        justify-content: center;
    }

    .footer-top-area {
        padding-bottom: 32px;
        justify-content: center;
        background: rgba(240, 243, 245, 1);
        padding-top: 40px;
    }

    .footer-section {
        padding-top: 0;
    }

    .footer-location-wrap {
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        gap: 32px;
    }

    .footer-single-location h4 {
        font-size: 20px;
    }

    .footer-single-location p {
        font-size: 14px;
    }

    .footer-single-location a {
        font-size: 16px;
        margin-top: 34px;
        display: inline-block;
    }

    .copyright-text {
        display: none;
    }

    .menu-about-menu-container {
        justify-content: center;
    }

    .footer-bottom-menu-list li a {
        font-size: 14px;
    }

    .menu-about-menu-container {
        padding: 0 18px;
        flex-direction: column;
        gap: 20px;
    }

    .footer-bottom-menu {
        background: rgba(240, 243, 245, 1);
        padding: 32px 0 16px;
        border: none;
    }

    ul.footer-social-share.for-mobile {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-social-share li a {
        width: 48px;
        height: 48px;
        padding: 14px;
    }

    .company-deck {
        margin-top: 0px;
        background: rgba(240, 243, 245, 1);
    }

    .copyright-text.for-mobile {
        display: block;
        text-align: center;
        font-size: 14px;
        margin-bottom: 15px;
        padding: 0 40px;
    }

    h4.company-deck-link svg {
        width: 15px;
    }

    .copyright-text.for-mobile a {
        font-size: 14px;
    }

    .company-deck-link {
        font-size: 16px;
        justify-content: center;
        padding-bottom: 32px;
        padding-top: 32px;
        border-bottom: 1px solid #ddd;
        margin-bottom: 20px;
    }


     /* Blog Details page Css */
  
     .blog-main-title {
        font-size: 28px;
        line-height: 1.2em;
    }

       .breadcrumb-wrap {
        padding: 40px 0 40px;
    }

    .thumbnail img {
        max-height: 250px;
        min-height: 250px;
    }

     .blog-single-content-wrap .entry-content{
        h2 {
            font-size: 28px;
            line-height: 1.2em;
            margin-bottom: 15px;
            padding-top: 30px;
            margin-top: 30px;
        }

        h3{
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 15px;
        }
    
        p{
            margin-bottom: 15px;
            font-size: 16px;
        }
        
        ul{
            padding-left: 15px;
            margin-bottom: 15px;
        }
        ol{
            padding-left: 15px;
        }
        
        .wp-block-image img{
            display: block;
            width: 100%;
        }
    }

    #musemind_booking_widget-2 {
        margin-bottom: 0;
    }

    .booking-container h3 {
        padding-right: 0px;
        font-size: 20px;
        margin-top: 40px;
    }
    

    aside#secondary.widget-area {
        padding-top: 15px;
    }

}